@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Nata Sans", sans-serif;
    background-image: url(../images/bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2 {
    font-family: "Playwrite AU QLD", cursive;
}

h1,
h2,
p {
    margin: 15px 0;
}

header {
    text-align: center;
    background-color: #0f1424;
    color: #fff;
    padding: 20px;
}

.container {
    position: relative;
    height: calc(100% - 150px);
    margin-top: 20px;
}

main {
    line-height: 1.5em;
    max-width: 750px;
    padding: 40px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    background: #fff;
}

ul {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    display: block;
    color: #222;
    border-radius: 10px;
    padding: 10px 0;
}

ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.assignment-number {
    font-size: 1.8em;
    font-family: "Playwrite AU QLD", cursive;
}

a img {
    width: 120px;
    padding: 10px;
    vertical-align: bottom;
}

a div {
    display: inline-block;
    width: 60%;
}